<form action="/reports" method="get">
    <div class="input-group" style="margin-bottom:20px;">
        <input name="commission" type="text" class="form-control" placeholder="Commission">
        <div class="input-group-addon">%</div>
    </div>
    <select name="months" class="form-control" style="margin-bottom:20px;">
      <option>3</option>
      <option>9</option>
      <option>18</option>
    </select>
    <input type="submit" class="form-control" />
</form>
